:root {
    --white: #FFFCF8;
    --red: #D62828;
    --yellow: #FCBF49;
    --lightGray: #DFDEDD;
    --gray: #423F3F;
    --black: #1C1311;
    --orange: #F77F00;
}

.dark-mode:root {
    --white: #060A2F;
    --yellow: #ff9748;
    --gray: #9f9f9f;
    --black: #FFFCF8;
}

.cta.active {
    &::before {
        background-color: #060A2F;
        opacity: 1;
    }
}

.txt-cta.active {
    color: #fff;
}

@mixin DisplayFlex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
a {
    color: var(--black);
}

button,
a {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.linkedin,
.github,
.eye {
    background-color: white;
    padding: 7px;
    border-radius: 10px;
}

.hamburguer,
.mobile-header,
.info-mobile {
    display: none;
}

.social-medias-mobile {
    display: none !important;
}

.btn-component {
    box-shadow: 0px 4px 4px 0px #00000040;
    @include DisplayFlex(row, space-around, center);
    padding: 15px 30px;
    border-radius: 20px;
    gap: 15px;
    font-weight: 800;
    font-size: 18px;
}

.span-subtitle {
    color: var(--lightGray);
    font-weight: 300;
    font-size: clamp(1em, 1em + 1.5vw, 2.5em);
}

.language-btn {
    border-radius: 50%;
    border: none;
    padding: 20px 5px;
    color: var(--lightGray);
    background: var(--white);
    box-shadow: 0px 4px 4px 0px #00000040;
    font-weight: 800;
    font-size: 20px;
    border: 0.3px solid white;
}

body,
html {
    width: 100vw;
    scroll-behavior: smooth;
    background: var(--white);
    overflow-x: hidden;
}

header {
    @include DisplayFlex(row, center, center);
    width: 100%;
    padding: 20px 20%;
    position: fixed;
    z-index: 200;
    gap: 10%;
    background-color: transparent;


    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--white);
        opacity: 0.9;
        z-index: -1;
    }


    div {
        @include DisplayFlex(row, center, center);
        gap: 15px;
    }

    nav {
        @include DisplayFlex(row, center, center);
        gap: 4vw;

        a {
            font-weight: 500;
        }

        .container-lang {
            @include DisplayFlex(row, center, center);
        }
    }

    .switch {
        cursor: pointer;

    }
}


#home {
    position: relative;

    .background-images {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;


    }

    .container-home {
        @include DisplayFlex(row, center, start);
        margin-top: 110px;
        gap: 5%;

        .image-home {
            width: min(80%, 500px);
        }
    }




    article {
        @include DisplayFlex(column, start, start);

        margin-top: 90px;
        position: relative;

        .triangle {
            position: absolute;
            transition: transform 0.3s ease;
            bottom: -200px;
            z-index: 4 !important;
            animation: spin 6s linear infinite;

            &:hover {
                animation-play-state: paused;
            }
        }

        .dark-triangle {
            position: absolute;
            bottom: -200px;
            left: -60px;
            z-index: 4;

            animation: spin-oposite 8s linear infinite;

            &:hover {
                animation-play-state: paused;

            }
        }


        span {
            @extend .span-subtitle;
        }

        div {
            @include DisplayFlex(row, center, center);
            margin-top: 50px;
            gap: 30px;
            position: relative;

            .pipe {
                position: absolute;
                left: 100%;

                z-index: -1;
            }

            a {
                @extend .btn-component;
                border: 0.5px solid white;
            }
        }

        p {
            margin-top: 10px;
        }

        h1 {
            font-size: clamp(1.75em, 1em + 3vw, 4.5em);
            line-height: min(4vw, 60px);
            font-weight: 800;

            span {
                color: var(--red);

            }
        }
    }
}

.dark-modes {
    .main-container {
        h1 {
            color: pink;
        }
    }
}


.cta {
    border-radius: 10px;
    margin: 0 20%;
    @include DisplayFlex(row, center, start);
    padding: 20px 0;
    margin-top: -50px;
    position: relative;
    z-index: 2;


    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--yellow);
        opacity: 0.5;
        z-index: -1;
        border-radius: 10px;
    }

    .lamp {
        margin-right: 50px;
        cursor: pointer;
        padding-left: 10px;
        transition: transform 0.1s ease-in-out;

        &:hover {
            animation: shake-animation 1.5s ease-in-out;
        }

    }

    .dark-triangle {
        position: absolute;
        left: -10%;
        z-index: -1;
    }

    .main-container {
        @include DisplayFlex(row, center, center);
        gap: 20px;

        h1 {
            text-align: end;
            font-size: clamp(1em, 1em + 1.5vw, 2.5em);
            color: var(--yellow);

        }

    }

    p {
        max-width: 500px;
    }

    div {
        @include DisplayFlex(column, center, start);
        gap: 20px;
    }

    a {
        @extend .btn-component;
    }
}


.about-me {
    padding: 0 10%;

    .container-about-me {
        position: relative;

        .zig-zag {
            position: absolute;
            left: 0;
            bottom: -200px;
            z-index: -1;
        }

        @include DisplayFlex(row, center, start);
        margin-top: 80px;

        .image-about-me {
            width: min(90%, 600px);
            border-radius: 10px;
            border: 2px solid var(--white);
            margin-left: -10%;

        }

        gap: 50px;

        article {
            position: relative;

            span {
                @extend .span-subtitle;
            }

            h1 {
                font-size: clamp(1em, 1em + 1.5vw, 2.5em);
                font-weight: 800;
                margin-bottom: 30px;
            }

            p {
                max-width: 500px;
            }

            button {
                @extend .btn-component;
                border: none;
                background-color: var(--red);
                color: white;
                margin-top: 30px;
            }

            .gif {
                width: min(30%, 200px);
                position: absolute;
                right: 0;
            }
        }
    }
}

.stacks-section {
    margin-top: 50px;
    position: relative;

    .stacks-gif {
        position: absolute;
        width: min(400px, 50%) !important;
        right: 0;
    }

    .container-shapes {
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        position: absolute;

        .yellow-triangle {
            animation: mover 7s infinite;


            &:hover {
                animation-play-state: paused;
            }
        }

        .triangle {
            animation: spin 30s infinite;
        }

        .dark-triangle {
            animation: spin-oposite 20s infinite;
        }


    }

    .container-stacks {
        @include DisplayFlex(column, center, center);
        width: 100%;
        padding: 0 30px;


        h1 {
            font-size: clamp(1em, 1em + 1.5vw, 2.5em);
            font-weight: 800;
        }

        .stacks {
            display: flex;


            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 10%;
            padding: 30px;

            .github-stack {
                background-color: white;
                border-radius: 10px;

            }

            .block-stack {
                @include DisplayFlex(column, center, center);

                z-index: 5;
                margin-top: 25px;

                img {
                    transition: transform 0.2s ease-in-out;

                    &:hover {
                        transform: scale(1.3);
                    }
                }

                span {
                    box-shadow: 0px 4px 4px 0px #00000040;
                    transition: transform 0.3s ease-in-out;
                    padding: 10px 20px;
                    color: var(--gray);
                    font-weight: 300;
                    opacity: 0.7;

                    &:hover {
                        transform: scale(1.3);
                    }

                }
            }
        }
    }
}

.projects {
    padding: 0 20%;
    @include DisplayFlex(column, center, center);

    #see-more {
        background-color: var(--yellow);
        border: none;
        color: var(--white);
        padding: 10px;
        border-radius: 7px;
        cursor: pointer;
    }

    .projects-container {
        @include DisplayFlex(column, center, center);
        padding: 30px 0;

        .container-title {
            @include DisplayFlex(column, start, start);
            margin-bottom: 20px;

            span {
                @extend .span-subtitle;
                text-align: start;
                font-size: clamp(1em, 1em + 1vw, 1.7em);
            }

            h1 {
                font-size: clamp(1em, 1em + 2vw, 2.5em);
                font-weight: 800;

            }
        }

        .wrap-projects {
            @include DisplayFlex(column, center, center);
            gap: 30px;


            #hide-content {

                margin-top: -30px;
                max-height: 0;
                opacity: 0;
                overflow: hidden;
                transition: max-height 0.5s ease, opacity 0.5s ease;


                .container-project {
                    margin-top: 30px;
                    padding: 50px;
                }

            }

            #hide-content.show {
                @include DisplayFlex(column, center, center);
                width: 100vw;
                max-height: 5000px;
                /* Ajuste conforme necessário para acomodar o conteúdo */

                opacity: 1;
            }

            .container-project {
                position: relative;

            }

            .dots-shape {
                position: absolute;
                top: 0;
                right: 0;
                margin-right: -20px;
                animation: spin 6s linear infinite;
            }

            position: relative;

            .container-project {
                @include DisplayFlex(row, center, center);
                background-color: #DFDEDD3D;
                padding: min(50px, 10%);
                border-radius: 20px;


                .triangle-shape {
                    position: absolute;
                    right: 0;
                    z-index: 5;
                    transform: rotate(90deg);
                    top: 0;
                    margin-top: -30px;
                    margin-right: -40px;
                    animation: spin-oposite 10s linear infinite;


                }

                .zig-zag-shape {
                    position: absolute;
                    margin-right: -40px;
                    top: 0;
                    right: 0;
                    width: 250px;

                }

                .circles-shape {
                    position: absolute;
                    top: 0;
                    margin-top: -90px;
                    right: 0;
                    margin-right: -40px;
                    width: 200px;
                    animation: spin 6s linear infinite;
                }



                .circle-shape {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 5;
                    margin-bottom: -60px;
                    margin-left: -60px;
                }


                p {
                    max-width: 600px;
                }



                div {
                    @include DisplayFlex(column, start, start);
                    gap: 30px;


                    .container-btn {
                        @include DisplayFlex(row, start, center);
                        gap: 30px;
                        text-align: center;

                        a {
                            @extend .btn-component;
                            background-color: var(--white);
                        }
                    }
                }
            }

            .inverse-container-project {
                @include DisplayFlex(row-reverse, center, center);
                text-align: end;
            }
        }
    }
}

.contact {
    position: relative;
    @include DisplayFlex(row, center, center);

    .container-contact {
        z-index: 2;
        position: relative;
        padding: 30px 0;
        @include DisplayFlex(row, center, center);
        gap: 30px;

        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--red);
            border: 3px solid --yellow;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            z-index: 1000;
            animation: fadeOut 6s forwards;
            color: var(--white);
        }

        @keyframes fadeOut {
            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        form {

            @include DisplayFlex(column, start, start);
            width: min(60vw, 400px);
            gap: 40px;


            input,
            textarea {
                width: 100%;
                box-shadow: 0px 4px 9.4px 0px #00000040;
                border: none;
                border-radius: 10px;
                padding: 10px;
                outline: none;
            }

            textarea {
                height: 300px;
            }

            input {
                height: 50px;
            }

            input::placeholder,
            textarea::placeholder {
                font-style: italic;
                color: var(--gray);
                opacity: 0.6;
            }

            input[type="submit"] {
                background-color: var(--yellow);
                width: min(50%, 130px);
                cursor: pointer;
                color: var(--black);
                font-weight: 800;
                text-align: start;
                padding-left: 10px;
                font-size: 20px;
                border-radius: 5px;
                padding-right: 110px;
            }
        }

        @include DisplayFlex(row, center, center);

        .container-title {
            margin-bottom: 20px;

            span {
                @extend .span-subtitle;
                font-size: clamp(1em, 1em + 1vw, 1.7em);

            }

            h1 {
                font-size: clamp(1em, 1em + 2vw, 2.5em);
                font-weight: 800;
            }
        }


        .social-medias,
        .social-medias-mobile {
            @include DisplayFlex(column, start, start);
            gap: 10px;

            div {

                @include DisplayFlex(row, center, center);
                gap: 10px;

                a {
                    @extend .language-btn;
                    padding: 15px;
                    background-color: white;

                }

                img {
                    width: 30px;
                }
            }

        }
    }
}


footer {
    background-color: var(--red);
    @include DisplayFlex(column, center, center);
    gap: 5px;
    width: 100% !important;

    padding: 20px 0;

    .development {
        font-style: italic;
    }

}

// ANIMAÇÕES

@keyframes shake-animation {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spin-oposite {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}



@keyframes afastar-esquerda {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-40px);
    }
}

@keyframes afastar-direita {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(20px);
    }
}

@keyframes mover {
    0% {
        left: 0;
        top: 0;
        transform: translate(0, 0);
    }

    25% {
        left: 50px;
        top: 0;
        transform: translate(50px, 0);
    }

    50% {
        left: calc(100% - 50px);
        top: calc(100% - 50px);
        transform: translate(0, 100px);
    }

    100% {
        left: 0;
        top: 0;
        transform: translate(0, 0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width:1050px) {
    nav {
        a {
            color: #060A2F;
        }
    }

    .github,
    .eye {
        padding: 2px;
        border-radius: 20px;
    }

    .social-medias-mobile div {
        margin-bottom: 10px;
    }

    .info-mobile {
        display: block;
        @include DisplayFlex(row !important, center !important, center !important);

        .language-btn {
            border-radius: 10px;
            padding: 10px;
            font-size: 15px;
        }
    }

    .container-shapes .triangle,
    .dark-triangle,
    .yellow-triangle {
        display: none;
    }

    header {
        background-color: transparent;

        &::before {
            background-color: transparent;
        }

    }

    #home {

        .triangle {
            display: none;
        }

        .container-home {
            margin-top: 30px;
        }

        article {
            @include DisplayFlex(column !important, center !important, center !important);

            margin-top: 20px;
        }

        h1,
        p {
            text-align: center;
        }

        h1 {
            line-height: 25px !important;
        }

        p {
            margin: 0 20px;
        }

        article {
            div {
                @include DisplayFlex(column !important, center !important, center !important);
                margin-top: 20px;
            }
        }
    }

    .cta {
        margin-top: 40px !important;


        .main-container {
            flex-direction: column !important;
            gap: 20px;
        }

        .lamp {

            margin-right: 0px !important;
            cursor: pointer;


        }

        a {
            text-align: center;
            padding: 12px !important;
        }

        p {
            text-align: end;
        }

        .main-container {
            align-items: end !important;
        }

        div {
            align-items: end !important;
        }
    }

    .hamburguer,
    .mobile-header {
        display: block;
    }

    .hamburguer {
        cursor: pointer;
        position: fixed;
        z-index: 700;
        top: 10px;
        right: 10px;
    }

    .mobile-header {
        @include DisplayFlex(row !important, space-between !important, center !important);
        margin: 30px 10% 0 10% !important;
    }

    .logo-desktop {
        display: none;
    }

    .nav-menu.active {
        display: flex;
        width: min(60%, 200px);
        z-index: 200;
        border-radius: 20px;
        height: 30vh;
        margin-right: 30px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
        background-color: rgba(255, 251, 246, 0.969);
        transform: translateY(0);

    }

    .nav-menu {
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: fixed;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 199;
        transform: translateY(-100%);
        transition: transform 0.3s ease;
    }

    .nav-menu.active {
        display: flex;
        align-items: start;
        padding-left: 20px;
    }

    .nav-menu.active a {
        animation: fadeIn 0.5s ease forwards;
    }

    .nav-info {
        display: none;
    }

    .nav-info.active {
        display: block;
    }

    .container-contact {
        @include DisplayFlex(row !important, center !important, end !important);

    }

    .social-medias-mobile {
        display: block !important;

        a {
            padding: 8px !important;
        }

        img {
            width: 25px !important;
        }
    }

    .social-medias {
        display: none !important;
    }


    .container-home {
        @include DisplayFlex(column-reverse !important, center !important, center !important);


    }

    .cta {
        margin: 0 auto;
        width: 80%;
        border: 1px solid var(--lightGray);
        box-shadow: 0px 4px 4px 0px #00000040;
        border-radius: 10px;
        padding: 25px;

        img {
            margin: 0;
        }

    }

    .stacks-section {
        .stacks-gif {
            bottom: -100px;
        }
    }

    .container-about-me {
        @include DisplayFlex(column !important, center !important, center !important);
    }

    .container-project {
        @include DisplayFlex(column !important, center !important, center !important);
        width: 80vw !important;
        gap: 20px !important;


        div {
            @include DisplayFlex(column !important, center !important, center !important);

            p {
                text-align: center;
            }
        }

        .container-btn {
            @include DisplayFlex(column !important, center !important, center !important);

            a {
                height: 50px;

                img {
                    width: 30px;

                }
            }
        }

        .mockup {
            width: 100%;
        }

    }

    footer {
        p {
            text-align: center;

        }
    }

}